In [17]:
import pandas as pd
import json
import sqlite3
import numpy as np

In [3]:

orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [6]:

with open("users.json") as f:
    users_data = json.load(f)

users = pd.DataFrame(users_data)
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [5]:

conn = sqlite3.connect("restaurants.db")

with open("restaurants.sql") as f:
    sql_script = f.read()

conn.executescript(sql_script)

restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [7]:

merged = orders.merge(users, on="user_id", how="left")
merged = merged.merge(restaurants, on="restaurant_id", how="left")

merged.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [18]:
merged.to_csv("final_food_delivery_dataset.csv", index=False)

In [24]:
gold = merged[merged["membership"].str.lower()=="gold"]
gold.groupby("city")["total_amount"].sum().idxmax()

'Chennai'

In [27]:
merged.groupby('cuisine')['total_amount'].mean().idxmax()

'Mexican'

In [14]:
total_spending_per_user = merged.groupby('user_id')['total_amount'].sum()
distinct_users_over_1000 = total_spending_per_user[total_spending_per_user > 1000].count()
print(f"Number of distinct users who placed orders worth more than ₹1000: {distinct_users_over_1000}")

Number of distinct users who placed orders worth more than ₹1000: 2544

In [20]:
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ['3.0 – 3.5', '3.6 – 4.0', '4.1 – 4.5', '4.6 – 5.0']
merged['rating_range'] = pd.cut(merged['rating'], bins=bins, labels=labels, right=True, include_lowest=True)

revenue_by_rating_range = merged.groupby('rating_range', observed=False)['total_amount'].sum()
highest_revenue_range = revenue_by_rating_range.idxmax()

print(f"The restaurant rating range that generated the highest total revenue is: {highest_revenue_range}")

The restaurant rating range that generated the highest total revenue is: 4.6 – 5.0

In [26]:
gold = merged[merged["membership"].str.lower()=="gold"]
gold.groupby("city")["total_amount"].mean().idxmax()

'Chennai'

In [21]:
gold_avg = merged[merged["membership"].str.lower()=="gold"]["total_amount"].mean()
round(gold_avg,2)

np.float64(797.15)

In [22]:
len(merged[merged["rating"]>=4.5])

3374

In [23]:
merged["order_date"] = pd.to_datetime(merged["order_date"])
merged["quarter"] = merged["order_date"].dt.quarter

merged.groupby("quarter")["total_amount"].sum()

quarter
1    2010626.64
2    1945348.72
3    2037385.10
4    2018263.66
Name: total_amount, dtype: float64